.table__wrapper {
  padding: 10px 0;
  margin-top: 20px;
  width: 100%;
  overflow-y: auto;
}
.table {
  width: 100%;
  min-width: 700px;
  border-spacing: 0;
}
.table thead {
  background: var(--color-black);
  color: var(--color-white);
}
.table thead tr th:first-child {
  border-top-left-radius: var(--border-radius-md);
}
.table thead tr th:last-child{
  border-top-right-radius: var(--border-radius-md);
}
.table tr {
  text-align: center;
}
.table th,
.table td {
  text-transform: capitalize;
  padding: 15px 10px;
  width: 1%;
  white-space: nowrap;

}
th{
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-lg);
}

/* Pagination */
.table__pagination{
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.table__pagination_item{
  padding: 5px 10px;
  font-size: var( --font-size-sm);
  font-weight: var(--font-weight-sm);
  background: var(--color-green);
  color: var(--color-white);
  border-radius: var(--border-radius-sm);
  -webkit-border-radius: var(--border-radius-sm);
  -moz-border-radius: var(--border-radius-sm);
  -ms-border-radius: var(--border-radius-sm);
  -o-border-radius: var(--border-radius-sm);
  cursor: pointer;
}
.table__pagination_item_active > a{
  background: var(--color-blue);
}